.hidden {
    display:none;
}
#clock {
    text-align: center;
    align-items: center;
}

#greeting{
    text-align: center;
    align-items: center;
}

#login-form{
    text-align: center;
    align-items: center;
}

#todo-form{
    text-align: center;
    align-items: center;
}

#todo-list{
    text-align: center;
    align-items: center;
}

#quote{
    text-align: center;
    align-items: center;
}

#weather{
    text-align: center;
    align-items: center;
}